# DEPRECATED as of version 1.2.2.RELEASE - use the src/kubernetes/mysql/mysql-deployment.yaml file instead
apiVersion: v1
kind: ReplicationController
metadata:
  name: mysql
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: mysql
    spec:
      containers:
      - image: mysql:5.6
        name: mysql
        env:
          - name: MYSQL_ROOT_PASSWORD
            # Change this password!
            value: yourpassword
        ports:
          - containerPort: 3306
            name: mysql
        volumeMounts:
            # This name must match the volumes.name below.
          - name: mysql-persistent-storage
            mountPath: /var/lib/mysql
      volumes:
        - name: mysql-persistent-storage
          gcePersistentDisk:
            # This disk must already exist. Can be created using the following command:
            # $ gcloud compute disks create mysql-disk --size 200 --type pd-standard
            pdName: mysql-disk
            fsType: ext4
